@model Bai6.Models.Phone
@{
    ViewData["Title"] = "Xóa điện thoại";
}

<h2 class="text-danger">Bạn có chắc chắn muốn xóa thiết bị này?</h2>

<ul class="list-group w-50 mb-3">
    <li class="list-group-item"><strong>Tên điện thoại:</strong> @Model.Name</li>
    <li class="list-group-item"><strong>Hãng:</strong> @Model.Brand</li>
</ul>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Xác nhận Xóa</button>
    <a asp-action="Index" class="btn btn-secondary">Hủy</a>
</form>