@model IEnumerable<bai4_5.Models.Book>

<h2>DANH SÁCH</h2>
<a asp-action="Create">Thêm sách mới</a>

<table border="1" cellpadding="10" cellspacing="0" style="margin-top: 20px;">
    <thead>
        <tr>
            <th>ID</th>
            <th>Tên sách</th>
            <th>Giá</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Price</td>
            </tr>
        }
    </tbody>
</table>